.DS_Store
.idea
.python-version
.nvmrc
.vscode
.ruff_cache
.pytest_cache
*.code-workspace
cache

# Environment files
.env
.env.local
.env.production

current-workflow.txt
package-lock.json
osm_footprints_debug.csv

data/
node_modules/
flask_app/myenv/
flask_app/.pytest_cache
flask_app/ms_footprints_debug.csv
flask_app/osm_footprints_debug.csv
flask_app/cache/
flask_app/tests/output/

# tests
coverage.xml
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints
docs/notebooks/data
docs/notebooks/cache/
docs/notebooks/samples_golden
