<nav class="border-b-slate-150 border-b-2 bg-white">
  <div class="mx-auto max-w-7xl px-2 pb-2.5 sm:px-6 lg:px-8">
    <div class="h-35 relative flex items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"></div>
      <div class="flex flex-1 items-center justify-between">
        <!-- Application name on the left -->
        <div class="flex flex-shrink-0 items-center">
          <h1
            class="cursor-pointer"
            (click)="navigateToHome()"
            (keyup.enter)="navigateToHome()"
            (keyup.space)="navigateToHome()"
            style="color: #4b545a; font-size: 1.875rem"
            tabindex="0"
            role="button"
            aria-label="Navigate to home page"
          >
            CBL Web Tool
          </h1>
        </div>
        <!-- Logo on the right -->
        <div class="flex flex-shrink-0 items-center">
          <a
            class="cursor-pointer transition-opacity hover:opacity-80"
            (click)="navigateToHome()"
            (keyup.enter)="navigateToHome()"
            (keyup.space)="navigateToHome()"
            tabindex="0"
            role="button"
            aria-label="Navigate to home page"
          >
            <img class="h-[8rem] w-auto" src="nrel-logo-web.svg" alt="NREL Logo" />
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
